{% load static %}
<div class="services_section layout_padding">
  <div class="container">
    <h1 class="services_taital">Služby</h1>
    <div class="services_section_2">
      <div class="row">
        <div class="col-lg-4">
          <div class="icon_box">
            <div class="icon_1">
              <img src="{% static 'images/icon-1.svg' %}">
            </div>
          </div>
          <h4 class="selection_text">Dámské stříhání</h4>
          <p class="ipsum_text">Zkracování, vrstvení, čištění konečků, a tvoření různých účesů a stylů.</p>
          <div class="icon_box">
            <div class="icon_1">
              <img src="{% static 'images/icon-2.svg' %}">
            </div>
          </div>
          <h4 class="selection_text">Pánské stříhání</h4>
          <p class="ipsum_text">
            Stříhání, tvarování, úpravu vousů a aplikaci vlasových produktů podle klientových přání a potřeb.
          </p>
        </div>
        <div class="col-lg-4">
          <div class="icon_box">
            <div class="icon_1">
              <img src="{% static 'images/icon-5.svg' %}">
            </div>
          </div>
          <h4 class="selection_text">Moderní barvení</h4>
          <p class="ipsum_text">
            Balayage, ombre, pastelové barvy, stříbrné vlasy, a kombinaci různých odstínů pro zajímavý vzhled.
          </p>
          <div class="icon_box">
            <div class="icon_1">
              <img src="{% static 'images/icon-4.svg' %}">
            </div>
          </div>
          <h4 class="selection_text">Melir</h4>
          <p class="ipsum_text">
            Aplikaci jemných světlých pramenů a odstínů, který se podobá slunečním paprskům nebo přirozenému zesvětlení vlasů.
          </p>
        </div>
        <div class="col-lg-4">
          <div class="icon_box">
            <div class="icon_1">
              <img src="{% static 'images/icon-3.svg' %}">
            </div>
          </div>
          <h4 class="selection_text">Vlasový botox</h4>
          <p class="ipsum_text">Hydratuje a obnovuje suché a poškozené vlasy, zanechává je měkké a lesklé.</p>
          <div class="icon_box">
            <div class="icon_1">
              <img src="{% static 'images/icon-6.svg' %}">
            </div>
          </div>
          <h4 class="selection_text">Večerní-slavnostní účes</h4>
          <p class="ipsum_text">
            Složitý styling vlasů a zdobení, aby zdůraznil krásu, eleganci a vytvořily dojem vkusu a stylu.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
