{% load static %}

<div class="services_section layout_padding">
   <div class="container">
      <h1 class="services_taital">Услуги</h1>
      <div class="services_section_2">
         <div class="row">
            <div class="col-lg-4">
               <div class="icon_box">
                  <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>
               </div>
               <h4 class="selection_text">Бизнес-стратегия</h4>
               <p class="ipsum_text">Комплексный стратегический план для укрепления положения компании на рынке, привлечение и удовлетворение потребителей.</p>
               <div class="icon_box">
                  <div class="icon_1"><img src="{% static 'images/icon-4.png' %}"></div>
               </div>
               <h4 class="selection_text">Безопасность</h4>
               <p class="ipsum_text">Cохраность денежных средств, в числе прочего исключая необходимость совершения переводов третьим лицам.</p>
            </div>
            <div class="col-lg-4">
               <div class="icon_box">
                  <div class="icon_1"><img src="{% static 'images/icon-2.png' %}"></div>
               </div>
               <h4 class="selection_text">Исследование и анализ</h4>
               <p class="ipsum_text">Изучение экономической ситуации на рынке, разделение его на сегменты и определение групп потребителей, продуктов.</p>
               <div class="icon_box">
                  <div class="icon_1"><img src="{% static 'images/icon-5.png' %}"></div>
               </div>
               <h4 class="selection_text">Консультация</h4>
               <p class="ipsum_text">Квалифицированные консультации, на любом этапе, от оформления внешнеторговых сделок и до выгрузки товара.</p>
            </div>
            <div class="col-lg-4">
               <div class="icon_box">
                  <div class="icon_1"><img src="{% static 'images/icon-3.png' %}"></div>
               </div>
               <h4 class="selection_text">Планирование</h4>
               <p class="ipsum_text">Чёткая программа действий, рассчитанная на результат в кратчайшие сроки с минимумом рисков.</p>
               <div class="icon_box">
                  <div class="icon_1"><img src="{% static 'images/icon-6.png' %}"></div>
               </div>
               <h4 class="selection_text">Профессионализм</h4>
               <p class="ipsum_text">Экономия времени и денежных средств клиента за счет высокого качества услуг и наработанных связей компании.</p>
            </div>
         </div>
      </div>
   </div>
</div>
