{% load static %}
{% load pages_posts_tag %}

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="logo"><a href="{% url 'home' %}"><img src={% static "images/logo.png" %}></a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% show_pages %}

        <form action="{% url 'search' %}" method="get" class="searchBox flex-item">
            <input type="text" name="s" placeholder="Поиск...">
            <ion-icon name="search-outline"></ion-icon>
        </form>

    </div>
 </nav>
